<h1> Steve's Most Excellent Weather Channel </h1>

Address is <%= @addy %>

<p>The current temperature at <%= @url_safe_street_address %> is <%= @the_temperature %> degrees.</p>

<p>The outlook for the next 60 minutes is: <%= @the_hour_outlook %></p>

<p>The outlook for the next 24 hours is: <%= @the_day_outlook %></p>

<p>The outlook for the rest of the week is: <%= @the_week_outlook %></p>

