<!-- Inside the location action, do all the work you need to

retrieve the user input (whatever they typed after the slash)
exchange it for a lat/lng pair from the Geocoding API
exchange the lat/lng pair for weather info from the Forecast API
place any values that you want to show the user in instance variables
write some HTML around the instance variables in the view template -->


<p>The current temperature at <%=  @clean_address %> is <%=@the_temperature%> degrees.</p>

<p>The outlook for the next 60 minutes is: <%= @the_hour_outlook %></p>

<p>The outlook for the next 24 hours is: <%= @the_day_outlook %></p>

<p>The outlook for the rest of the week is: <%= @the_week_outlook %></p>
