<h1>Weather Forecast for <%= @street_address %></h1>


<p>Latitude: <%= @the_latitude %>  Longitude: <%= @the_longitude %></p>

<p>Current temperature is: <b><%= @the_temperature %> degrees</b></p>

<p>The outlook for the next 60 minutes is: <b><%= @the_hour_outlook %></b></p>

<p>The outlook for the next 24 hours is: <b><%= @the_day_outlook %></b></p>

<p>The outlook for the rest of the week is: <b><%= @the_week_outlook %></b></p>

